.bg-green-100 {
  background-color: tint-color(#198754, 80%) !important;
}

.text-green-100 {
  color: tint-color(#198754, 80%) !important;
}

.border-green-100 {
  border-color: tint-color(#198754, 80%) !important;
}

.bg-green-200 {
  background-color: tint-color(#198754, 60%) !important;
}

.text-green-200 {
  color: tint-color(#198754, 60%) !important;
}

.border-green-200 {
  border-color: tint-color(#198754, 60%) !important;
}

.bg-green-300 {
  background-color: tint-color(#198754, 40%) !important;
}

.text-green-300 {
  color: tint-color(#198754, 40%) !important;
}

.border-green-300 {
  border-color: tint-color(#198754, 40%) !important;
}

.bg-green-400 {
  background-color: tint-color(#198754, 20%) !important;
}

.text-green-400 {
  color: tint-color(#198754, 20%) !important;
}

.border-green-400 {
  border-color: tint-color(#198754, 20%) !important;
}

.bg-green-500 {
  background-color: #198754 !important;
}

.text-green-500 {
  color: #198754 !important;
}

.border-green-500 {
  border-color: #198754 !important;
}

.bg-green-600 {
  background-color: shade-color(#198754, 20%) !important;
}

.text-green-600 {
  color: shade-color(#198754, 20%) !important;
}

.border-green-600 {
  border-color: shade-color(#198754, 20%) !important;
}

.bg-green-700 {
  background-color: shade-color(#198754, 40%) !important;
}

.text-green-700 {
  color: shade-color(#198754, 40%) !important;
}

.border-green-700 {
  border-color: shade-color(#198754, 40%) !important;
}

.bg-green-800 {
  background-color: shade-color(#198754, 60%) !important;
}

.text-green-800 {
  color: shade-color(#198754, 60%) !important;
}

.border-green-800 {
  border-color: shade-color(#198754, 60%) !important;
}

.bg-green-900 {
  background-color: shade-color(#198754, 80%) !important;
}

.text-green-900 {
  color: shade-color(#198754, 80%) !important;
}

.border-green-900 {
  border-color: shade-color(#198754, 80%) !important;
}

.bg-teal-100 {
  background-color: tint-color(#20c997, 80%) !important;
}

.text-teal-100 {
  color: tint-color(#20c997, 80%) !important;
}

.border-teal-100 {
  border-color: tint-color(#20c997, 80%) !important;
}

.bg-teal-200 {
  background-color: tint-color(#20c997, 60%) !important;
}

.text-teal-200 {
  color: tint-color(#20c997, 60%) !important;
}

.border-teal-200 {
  border-color: tint-color(#20c997, 60%) !important;
}

.bg-teal-300 {
  background-color: tint-color(#20c997, 40%) !important;
}

.text-teal-300 {
  color: tint-color(#20c997, 40%) !important;
}

.border-teal-300 {
  border-color: tint-color(#20c997, 40%) !important;
}

.bg-teal-400 {
  background-color: tint-color(#20c997, 20%) !important;
}

.text-teal-400 {
  color: tint-color(#20c997, 20%) !important;
}

.border-teal-400 {
  border-color: tint-color(#20c997, 20%) !important;
}

.bg-teal-500 {
  background-color: #20c997 !important;
}

.text-teal-500 {
  color: #20c997 !important;
}

.border-teal-500 {
  border-color: #20c997 !important;
}

.bg-teal-600 {
  background-color: shade-color(#20c997, 20%) !important;
}

.text-teal-600 {
  color: shade-color(#20c997, 20%) !important;
}

.border-teal-600 {
  border-color: shade-color(#20c997, 20%) !important;
}

.bg-teal-700 {
  background-color: shade-color(#20c997, 40%) !important;
}

.text-teal-700 {
  color: shade-color(#20c997, 40%) !important;
}

.border-teal-700 {
  border-color: shade-color(#20c997, 40%) !important;
}

.bg-teal-800 {
  background-color: shade-color(#20c997, 60%) !important;
}

.text-teal-800 {
  color: shade-color(#20c997, 60%) !important;
}

.border-teal-800 {
  border-color: shade-color(#20c997, 60%) !important;
}

.bg-teal-900 {
  background-color: shade-color(#20c997, 80%) !important;
}

.text-teal-900 {
  color: shade-color(#20c997, 80%) !important;
}

.border-teal-900 {
  border-color: shade-color(#20c997, 80%) !important;
}/*# sourceMappingURL=custom.css.map */